# build artifacts
jmri.jar
/dist
java/docs

# test artifacts
junit-results.xml

# temporary items
.ant-targets-build.xml
/java/classes
/java/tmp
*.class
/temp

# IDE junk files
/nbproject/private

# OS junk files
[Tt]humbs.db
*.DS_Store
